.swiper-container {
  width: 100%;
  margin-right: 1.6rem;
  --swiper-theme-color: #ffffff;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-size: 7px;
  --swiper-navigation-size: 15px;
  --swiper-navigation-weight: 15px;

  --swiper-pagination-color: #6e6e6e;
}

.dark .swiper-container {
  --swiper-pagination-color: rgb(127, 162, 165);
  --swiper-pagination-bullet-inactive-color: #cccccc;
}

.swiper-button-next,
.swiper-button-prev {
  background: #0284c7;
  padding: 1rem;
  border-radius: 50%;
  z-index: 20;
}
